In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_excel("/content/drive/MyDrive/MLB Research Project Part 2(AutoRecovered) (version 1).xlsx", sheet_name = 'TB')

In [ ]:
data.head(5)

,Year,GM,Rnd,OvPck,RdPck,Tm,Signed,Name,Pos,WAR,Avg. WAR,MLB,Type,School,City,State
0,1996,Chuck Lamar,1,29,29,Rays,Y,Paul Wilder (minors),OF,NaN,NaN,NO,HS,Cary HS,Albion,NY
1,2006,Andrew Friedman,1,3,3,Devil Rays,Y,Evan Longoria (minors),3B,57.6,5.0,YES,4Yr,"California State University, Long Beach",Laredo,TX
2,2007,Andrew Friedman,1,1,1,Devil Rays,Y,David Price (minors),P,40.4,3.9,YES,4Yr,Vanderbilt University,Macon,GA
3,1999,Chuck Lamar,2,52,1,Devil Rays,Y,Carl Crawford (minors),OF,39.1,3.7,YES,HS,Jefferson Davis HS,Miami,FL
4,2002,Chuck Lamar,23,674,2,Devil Rays,N,Jacoby Ellsbury (minors),OF,31.2,4.1,YES,HS,Madras HS,New Orleans,LA

In [ ]:
len(data)

1223

In [ ]:
data['GM'].unique()

array(['Chuck Lamar', 'Andrew Friedman', 'Matt Silverman', 'Erik Neander'],
      dtype=object)

In [ ]:
def MLB_Count(df, condition):
  result = {}
  keys = df[condition].unique()
  for key in keys:
    value = len(df[df[condition]== key])
    result[key] = value
  return result

In [ ]:
a =MLB_Count(data, 'Pos')
a

{'OF': 186, '3B': 45, 'P': 670, 'SS': 92, '2B': 56, 'C': 105, '1B': 68, 'c': 1}

In [ ]:
df = data[data['MLB'] == 'YES']
MLB_Count(df, 'Pos')

{'3B': 8, 'P': 99, 'OF': 28, 'SS': 16, 'C': 17, '2B': 7, '1B': 5}

In [ ]:
df = data[data['MLB'] == 'YES'][data['Rnd'] <= 10][data['Rnd'] >= 1]
MLB_Count(df, 'Pos')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

{'3B': 7, 'P': 44, 'OF': 17, 'SS': 9, '2B': 4, 'C': 5, '1B': 2}

In [ ]:
df = data[data['Rnd'] <= 10][data['Rnd'] >= 1]
MLB_Count(df, 'Pos')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

{'1B': 15, '2B': 6, '3B': 16, 'C': 28, 'OF': 62, 'P': 150, 'SS': 30}

In [ ]:
df = data[data['MLB'] == 'YES'][data['Rnd'] <= 10][data['Rnd'] >= 1][data['WAR'] >= 2]
MLB_Count(df, 'Pos')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

{'1B': 3, '2B': 1, 'C': 4, 'OF': 4, 'P': 15, 'SS': 2}

In [ ]:
df = data[data['MLB'] == 'YES'][data['Rnd'] <= 30][data['Rnd'] >= 11]
MLB_Count(df, 'Pos')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

{'1B': 2, '2B': 2, 'OF': 3, 'P': 37, 'SS': 3}

In [ ]:
df = data[data['Rnd'] <= 30][data['Rnd'] >= 11]
MLB_Count(df, 'Pos')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

{'1B': 21, '2B': 24, '3B': 20, 'C': 48, 'OF': 74, 'P': 316, 'SS': 58}

In [ ]:
df = data[data['MLB'] == 'YES'][data['Rnd'] <= 30][data['Rnd'] >= 11][data['WAR'] >= 2]
MLB_Count(df, 'Pos')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

{'1B': 1, 'OF': 1, 'P': 5, 'SS': 1}

In [ ]:
df = data[data['MLB'] == 'YES'][data['Rnd'] <= 100][data['Rnd'] >= 31]
MLB_Count(df, 'Pos')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

{'1B': 1, '3B': 1, 'C': 4, 'OF': 4, 'P': 21, 'SS': 2}

In [ ]:
df = data[data['Rnd'] <= 100][data['Rnd'] >= 31]
MLB_Count(df, 'Pos')

{'1B': 30, '2B': 17, '3B': 28, 'C': 88, 'OF': 137, 'P': 317, 'SS': 71}

In [ ]:
df = data[data['MLB'] == 'YES'][data['Rnd'] <= 100][data['Rnd'] >= 31][data['WAR'] >= 2]
MLB_Count(df, 'Pos')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

{'1B': 1, '3B': 1, 'C': 1, 'OF': 3, 'P': 2, 'SS': 1}

In [ ]:
data[data['Pos'] == 'OF']['WAR'].sum()

272.3

In [ ]:
df = data[data['WAR'] >=6]
MLB_Count(df, 'Pos')

{'1B': 2, '2B': 1, '3B': 8, 'C': 5, 'OF': 10, 'P': 29, 'SS': 14}

In [ ]:
df = data[data['WAR'] >=2]
MLB_Count(df, 'Pos')

{'1B': 3, '2B': 1, '3B': 11, 'C': 7, 'OF': 17, 'P': 54, 'SS': 19}

In [ ]:
df = data[data['WAR'] <2]
MLB_Count(df, 'Pos')

{'1B': 8, '2B': 10, '3B': 7, 'C': 19, 'OF': 23, 'P': 119, 'SS': 13}

In [ ]:
data[data['Type'] == '4Yr'][data['Pos'] == 'OF']['School'].value_counts()

In [ ]:
data[data['Type'] == '4Yr'][data['MLB'] == 'YES'][data['Pos'] == 'OF']['School'].value_counts()

In [ ]:
data[data['Type'] == 'JC'][data['Pos'] == 'OF']['School'].value_counts()

In [ ]:
data[data['Type'] == 'JC'][data['MLB'] == 'YES'][data['Pos'] == 'OF']['School'].value_counts()

In [ ]:
data[data['Type'] == 'HS'][data['Pos'] == 'OF']['State'].value_counts()

In [ ]:
data[data['Type'] == 'HS'][data['Pos'] == 'OF'][data['MLB'] == 'YES']['State'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

 CA    3
 GA    2
 AZ    2
 WA    2
 FL    1
 AL    1
 CO    1
 OH    1
Name: State, dtype: int64

In [ ]:
df = data[data['Rnd'] == 1]
b = MLB_Count(df,'Pos')
b

{'OF': 11, '3B': 4, 'P': 16, 'SS': 7, '2B': 2, 'C': 2, '1B': 2}

In [ ]:
def two_item_dict(dictionary):
  sort_dict = sorted(dictionary.items(), key=lambda item: item[1], reverse = True)
  out_dict = {sort_dict[0][0]: sort_dict[0][1]}
  sum = 0
  for item in sort_dict[1:]:
    sum += item[1]
  out_dict['H'] = sum
  return out_dict

In [ ]:
a =MLB_Count(data, 'Pos')
a

{'1B': 65, '2B': 45, '3B': 64, 'C': 132, 'OF': 255, 'P': 757, 'SS': 133}

In [ ]:
two_item_dict(b)

{'H': 20, 'P': 19}